body{ /* Normal  */
  line-height: 23px ; 
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  color: #383838;
}

td {  /* Table  */
font-family: 'Open Sans', sans-serif;
font-size: 10pt;
}

.caption {  /* Table  */
font-family: 'Open Sans', sans-serif;
font-size: 8pt;
color: #848a8c;
}

.header-section-number { /* Title  */
font-family: 'Open Sans', sans-serif;
font-weight: bold;
color: #226BDF;
}

h1.title { /* Title  */
font-family: 'Open Sans', sans-serif;
}

h1 { /* Header 1 */
font-family: 'Open Sans', sans-serif;
font-size: 17pt;
}

h2 { /* Header 2 */
font-family: 'Open Sans', sans-serif;
font-size: 15pt;
}

h3 { /* Header 3 */
font-family: 'Open Sans', sans-serif;
font-size: 12pt;
}

blockquote {
font-family: 'Open Sans', sans-serif;
font-size: 11pt;
color: #333333;
}

.footnotes {
font-family: 'Open Sans', sans-serif;
font-size: 9pt;
}

pre {
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border: 1px solid #EEF0F3;
    background: #F1F3F5;
    font:12px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono", monospace
}

code {
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 0px solid #BCBEC0;
    padding: 2px;
    font:12px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}

pre code {
    border-radius: 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border: 0px;
    padding: 0px;
    font:12px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}



